.login-btn {
    position: relative;
    font-size: 18px;
    background-image: linear-gradient(90deg, rgba(255,213,116,1) 0%, rgba(238,169,57,1) 100%);
    color: black;
    padding: 7px 15px;
    border-radius: 10px;
    cursor: pointer;
    overflow: visible; /* 重要：隐藏伪元素溢出 */
    transition: 0.3s ease;
    z-index: 1000;
  }
  .login-btn::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(90deg, rgba(255,213,116,1), rgba(238,169,57,1));
    border-radius: 15px;
    z-index: -1;
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    padding: 2px;
  }
  .login-btn:hover {
    background-image: linear-gradient(90deg, rgba(255,213,116,1) 0%, rgba(238,169,57,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }